/* MAIN STYLING */
* {
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: purple;
}

.site-main {
    background-color: blue;
}

.widget-area {
    background-color: cadetblue;
}

.site-footer {
    background-color: crimson;
}

p {
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

/* GRID LAYOUT */

.site-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 3fr 1fr;
    grid-gap: 3px;
}


/* MEDIA QUERIES */

@media (min-width: 1024px) {
    .site-container {
        grid-template-columns: 300px auto; /* door de eerste column op 300px te zetten en de 2de op auto blijft blijft de content responsive maar de in dit geval header dezelfde breedte*/
        grid-template-rows: 6fr 3fr 1fr;
    }

    .site-header {
        grid-row: 1 / -1;
    }
}

@media (min-width: 1500px) {
    .site-container {
        grid-template-columns: 150px 1fr 5fr 150px;
        grid-template-rows: 10% auto 10%;
    }

    .site-header {
        grid-row: 1;
        grid-column: 2 / 4;
    }

    .site-main {
        grid-row: 2;
        grid-column: 3 / 5;
        
    }
    
    .widget-area {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .site-footer {
        grid-column: 2 / 4;
    }
}